
body{
    height: 570px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.855);
}
.container{
    position: relative;
    width: 500px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    top: 10px;
    left: 33%;
    
    border-radius: 20px;
    background-color: aquamarine;
}
#search-box{
    height: 33px;
    width:  250px;
    font-size: 30px;
    margin-left: 50px;
    padding-left: 10px;
    /* background-color: blanchedalmond; */
    color: black;

}
.Material-icons{
   
    font-size: 25px;
    color: black;
}
button{
    height: 37px;
    margin-left: 20px;
    background-color: blanchedalmond;
    width: 100px;
}
.search_box{
    display: flex;
    width: 60%;
    margin-top: 50px;
    margin-top: 0px;
    padding-top: 0px;
}
#after-search{
    width: 300px;
    display: flex;
    margin-left: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.material-icons{
    font-size: 300px;
    color: skyblue;
    padding-left: 40px;
    
}
img{
    width: 200px;
}
#city-name{
    font-family: "Trirong", serif;
    margin-bottom: 5px;
    font-size: 50px;
}
#temp{
    font-family: "Sofia", sans-serif;
    margin-top: 5px;
    font-size: 40px;
}
#season{
    font-family: "Trirong", serif;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 40px;
}